<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <system.serviceModel>
    <services>
      <service name="Lab7.Feed1">
        <endpoint address="Feed" behaviorConfiguration="Lab7.Feed1Behavior" binding="webHttpBinding" contract="Lab7.IFeed1"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:40123/Lab7/"/>
          </baseAddresses>
        </host>
        <endpoint contract="Lab7.IFeed1" address="Feed1" binding="webHttpBinding" behaviorConfiguration="Lab7.Feed1Behavior"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Lab7.Feed1Behavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*"/>
				<add name="Access-Control-Allow-Headers" value="Content-Type"/>
				<add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS"/>
			</customHeaders>
		</httpProtocol>
	</system.webServer>
</configuration>
